.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "navbar"
    "banner"
    "main"
    "sidebar"
    "footer";
}

.navbar {
  grid-area: navbar;
}
.banner {
  grid-area: banner;
}
.main {
  grid-area: main;
}
.sidebar {
  grid-area: sidebar;
}
.footer {
  grid-area: footer;
}

@include minbreakpoint(min-laptop) {
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "navbar navbar"
      "banner banner"
      "main sidebar"
      "footer footer";
  }
}
