// Color Scheme

// First Color Scheme - White
$app-color-primary1: #ffffff; // White

// Second Color Scheme - Black
$app-color-secondary1: #000000; // Black
$app-color-secondary2: #060606; // Sable
$app-color-secondary3: #2e1503; // Charcoal
$app-color-secondary4: #929292; // Gray

// Third Color Scheme - Tangerine
$app-color-tertiary1: #ffaf6d; // Tangerine
$app-color-tertiary2: #ffa500; // Orange

// Buttons
$app-color-btn-message: #a2d6e9;
$app-color-btn-follow: #f06464;

// Font Family
$app-f-family1: "Ubuntu", sans-serif;
$app-f-family2: "Poppins", sans-serif;

// Font Weight
$app-fw-regular: 400;
$app-fw-bold: 700;

// Font Sizes
$app-f-size-x-small: 12px;
$app-f-size-small: 14px;
$app-f-size-medium: 16px;
$app-f-size-large: 20px;
$app-f-size-x-large: 30px;
$app-f-size-xx-large: 35px;
$app-f-size-xxx-large: 40px;
$app-f-size-xxxx-large: 45px;
$app-f-size-xxxxx-large: 50px;
